body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#000000), to(#434343));
  background: linear-gradient(90deg, #000000 0%, #434343 100%);
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3% 8%;
}

header h1 {
  font-size: 2em;
  font-weight: 300;
}

header nav a {
  display: inline-block;
  font-size: 1.3em;
  padding: 15px 40px;
  line-height: 50px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 30px;
  margin-right: 30px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

header nav a:hover, header nav a.active {
  background: white;
  color: #333333;
}

header nav a:active {
  background: none;
  color: white;
}

header nav a:nth-child(3).active {
  background: #940000;
  color: #cac9c9;
  text-decoration: line-through;
}

.panel.active {
  display: block;
  -webkit-animation: intro .5s ease-in-out;
          animation: intro .5s ease-in-out;
}

.panel {
  display: none;
}

.form-container {
  margin-top: 5%;
}

.form-container h2 {
  font-size: 4em;
  font-weight: 300;
}

.form-container input {
  padding: 10px 15px;
  font-size: 1.2em;
  outline: none;
  margin-right: 20px;
}

.form-container button,
.form-container #submit {
  display: block;
  padding: 20px;
  margin: 15px 0px 5px 33px;
  position: absolute;
  left: 25%;
  width: 45.5%;
  color: white;
  border: none;
  outline: none;
  background: #2aa854;
  cursor: pointer;
}

.form-container button:hover,
.form-container #submit:hover {
  opacity: .9;
}

.form-container button:active,
.form-container #submit:active {
  opacity: 1;
}

.data-container {
  margin-top: 8%;
}

.data-container h2 {
  font-size: 2.5em;
  font-weight: 300;
}

.data-container table {
  width: 46%;
  margin-left: 27%;
  border: 2px solid #2aa854;
  border-collapse: collapse;
}

.data-container th,
.data-container td {
  padding: 20px;
  font-weight: 500;
  border: 2px solid #2aa854;
}

.data-container td {
  font-weight: 300;
}

.data-container td button {
  padding: 10px 15px;
  background: #a32e2e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.data-container td button:hover {
  opacity: .9;
}

.data-container td button:active {
  opacity: 1;
}

.data-container td button:nth-child(1) {
  background: #00b84d;
  margin-right: 5px;
}

#excuse-panel {
  margin-top: 10%;
}

#excuse-panel h2 {
  font-size: 2.3em;
}

#excuse-panel p {
  font-size: 1.5em;
}

@-webkit-keyframes intro {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes intro {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */